<!DOCTYPE html>
<html lang="en">
  
  <!-- Include Head Section which consits all the links of css -->
  <%- include('admin_head_section.ejs') %>
<style>
.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}
@media(max-width: 768px) {
  .modal-dialog {
    min-height: calc(100vh - 20px);
  }
}
</style>
<body>
  <!-- container section start -->
  <section id="container" class="">
    
    <!--header start-->
    <%- include('admin_header_section.ejs') %>
    <!--header end-->

    <!--sidebar start-->
    <%- include('sidebar_section.ejs') %>
    <!--sidebar end-->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
          <div class="row">
            <div class="col-lg-12">
              <h3 class="page-header"><i class="fa fa-table"></i> <%=status%></h3>
            </div>
          </div>
          <!-- page start-->
          <div class="row">
            <div class="col-lg-12">
              <section class="panel">
                <header class="panel-heading">
                  Advanced Table
                </header>
                <% if(details!=null) { %>
                <table class="table table-striped table-advance table-hover">
                    <tr>
                     <th>Account No </th>
                      <th>Loan No</th>
                      <th>Income Source</th>
                      <th>Income</th>
                      <th>Month</th>
                      <th>Reason</th>
                      <th>Covid Effect</th>
                      <th>Rent</th>
                      <th>Area/Zone</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                    <% var i=1; details.forEach(function(item){ %>
                    <tr id=<%= i %>>
                      <td><%= item.account_no %></td>
                      <!-- <td><%= i %></td> -->
                      <td  class="row-data"><%= item.loan_no %></td>
                      <td><%= item.income_source%></td>
                      <td><%= item.income %></td>
                      <td><%= item.month %></td>
                      <td><%= item.reason%></td>
                      <td><%= item.covid_effect%></td>
                      <td><%= item.rent_pay%></td>
                      <td><%= item.area_zone%></td>
                      <td><%= item.status %></td>
                      <td>
                        <input id="loan_no1" name="loan_no1" type="text" class="input" hidden>
                        <input type="button" value="Reject" onclick="reject()" class="btn btn-danger">
                      </td>
                    </tr>
                    <% i++; }) %>
                </table>
                <% } %>
              </section>
            </div>
          </div>
          <!-- page end-->
        </section>
    </section>
    
    <!--main content end-->

  </section>
  <!-- container section end -->
  
  <!-- Include script_links Section which consits all the links of js and js scripts -->
  <%- include('script_links.ejs') %>

</body>
</html>
